<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/headerstyle.css">
    <link rel="stylesheet" href="css/<%= css %>.css">
    <title>Document</title>
</head>
<body>

    <div class="maindiv">
        <div class="divdata divdata1">
            Home
        </div>
        <div class="divdata divdata1 divdata2">
            About us
        </div>
        <div class="divdata">
            Alumni
        </div>
        <div class="imgdiv">
            <div>NIT PATNA</div>
            <img src="Images/logonitp.jpg" alt="Nitplogo" class="imgdiv1">
        </div>
        <div class="divdata divdata1" style="margin-left: 24.4%;">
            Placements
        </div>
        <div class="divdata divdata1">
            Faclities
        </div>
        <div class="divdata">
            More
        </div>
    </div>
